# configure
image: python:latest
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"  # cache on project level
cache:
  paths:
    - .cache/pip
    - venv/

# common to all scripts
before_script:
  - python -V
  - pip install -U virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install -U flit
  - pip install -U pytest
  - pip install -U mypy
  - pip install -U yaqc
  - pip install -U yaqd-core
  - pip install -U yaq-traits
  - pip install . --no-build-isolation

# test stage

mypy:
  stage: test
  script:
    - mypy yaqd_thorlabs
entry:
  stage: test
  script:
    - yaqd-thorlabs-lts150 --version
    - yaqd-thorlabs-lts150 -h
    - yaqd-thorlabs-lts300 --version
    - yaqd-thorlabs-lts300 -h
    - yaqd-thorlabs-k10cr1 --version
    - yaqd-thorlabs-k10cr1 -h
    - yaqd-thorlabs-kst101 --version
    - yaqd-thorlabs-kst101 -h
    - yaqd-thorlabs-kdc101 --version
    - yaqd-thorlabs-kdc101 -h
    - yaqd-thorlabs-bsc201 --version
    - yaqd-thorlabs-bsc201 -h
    - yaqd-thorlabs-bsc203 --version
    - yaqd-thorlabs-bsc203 -h
    - yaqd-thorlabs-pm100 --version
    - yaqd-thorlabs-pm100 -h


traits:
  stage: test
  script:
    - for i in yaqd_thorlabs/*.avpr; do yaq-traits check $i; done

# deploy stage
flit:
  stage: deploy
  script:
      - flit publish
  artifacts:
    paths:
      - dist/*
  only:
    - tags
