protocol = "thorlabs-lts150"
doc = """
Daemon for the Thorlabs LTS-150 stage
"""
traits = ["has-limits", "is-homeable", "uses-uart", "is-daemon"]

[links]
source = "https://gitlab.com/yaq/yaqd-thorlabs/"
bugtracker = "https://gitlab.com/yaq/yaqd-thorlabs/issues"
manufacturer = "https://www.thorlabs.com/newgrouppage9.cfm?objectgroup_id=3961&pn=LTS150"

[config]
source.type = "int"
source.default = 1
source.doc = "Source for apt messages (almost always 0x01)"
dest.type = "int"
dest.default = 0x50
dest.doc = "Destination for apt messages (0x50 for single bay controllers)"
chan_ident.type = "int"
chan_ident.default = 1
chan_ident.doc = "Channel identifier for apt messages (almost always 0x01)"
units.type = "string"
units.default = "mm"

baud_rate.default = 115200
make.default = "Thorlabs"
model.default = "LTS150"

steps_per_unit.type = "float"
steps_per_unit.default = 25600

[state]
hw_limits.default = [0, 150]

[installation]
PyPI = "https://pypi.org/project/yaqd-thorlabs"
conda-forge = "https://anaconda.org/conda-forge/yaqd-thorlabs"

